@import url(./p__content/popup__content.css);
@import url(./p__close/popup__close.css);
@import url(./p__title/popup__title.css);
@import url(./p__form/popup__form.css);
@import url(./p__input/popup__input.css);
@import url(./p__button/popup__button.css);
@import url(./p_is-opened/popup_is-opened.css);
@import url(./p__error/popup__error.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
